/**
 * Copyright 2019-2024 Kronseder & Reiner GmbH, smartics
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#userscripts-vertical-banner {
    background-color: blueviolet;

    visibility: visible;
    display: block;
    position: absolute;
    z-index: 100;
    min-height: -webkit-fill-available;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
}

#userscripts-vertical-banner.projectdoc-mydoctype {
    background-color: darkgreen;
}

#userscripts-vertical-banner.projectdoc-small {
    min-width: 6px;
    max-width: 6px;
}

#userscripts-vertical-banner.projectdoc-large {
    min-width: 32px;
    max-width: 32px;
}

#userscripts-vertical-banner-label {
    color: white;
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    position: sticky;
    z-index: 200;
    width: 30em;
    height: 100%;
    margin-top: 400px;
    margin-left: 5px;
}
